/*
* Base structure
*/
/* colores gdg

rojo: rgba(221, 78, 66, 1)
azul: rgba(81, 143, 245, 1)
verde: rgba(23, 160, 93, 1)
amarillo: rgba(255, 194, 10, 1)

*/
html,
body {
  height: 100%;
  background-color: #fff;
  /*background: url(../img/bg.jpg) no-repeat center center;
  background-size: cover;*/
  font-family: "Roboto", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  color: #4A5960;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}
i {
  color: #2B85E7;
}
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  width: 100%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  /*-webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
  box-shadow: inset 0 0 5rem rgba(0,0,0,.5);*/
}
.container-full {
  width: 100%;
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;
}
.container-full .row {
  margin-right: 0;
  margin-left: 0;
}
.container-full .row .col-xs-12 {
  padding-right: 0;
  padding-left: 0;
}
.topbar {
  background-color: #fff;
}
.sticky {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 60px;
  transition: all 0.4s ease;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
.logo {
  width: 300px;
  height: 100px;
  background: url(../img/gdgrdlp.png) no-repeat center center;
  background-size: cover;
  float: left;
}
.sticky .logo {
  width: 200px;
  height: 60px;
}
.nav {
  float: right;
  margin-top: 42px;
}
.sticky .nav {
  margin-top: 17px;
}
.nav a:link, .nav a:visited {
  color: #555;
  margin-right: 10px;
  font-weight: 400;
  font-size: 18px;
}
.nav a:hover, .nav a:active, .nav a.active {
  color: #4F8EF5;
}
.banner {
  color: #fff;
  height: 100vh;
  background-image: url(../img/gdg.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  /*font-family: 'Roboto Condensed', sans-serif;*/
}
.banner .text {
  padding-top: 230px;
}
.banner .text h1 {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 100px;
  font-weight: 300;
  margin: 0;
}
.banner .text p {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0 0 10px;
}
.separadores {
  background-color: #518ff5;
  background-image: url('../img/bg_pattern1.png'), url('../img/bg_pattern.png');
  background-origin: padding-box, padding-box;
  background-size: 680px 355px, 562px 350px;
  background-position: 50%;
  border-top: 2px solid #2765cb;
  padding: 60px;
}
.separadores h2 {
  color: #fff;
  font-size: 60px;
  margin: 0;
  padding: 0;
  font-weight: 100;
}
.evento {
  padding: 50px 0;
  text-align: left;
}
.evento-sinoposis {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
}
h3 {
  font-size: 27px;
  font-weight: 400;
}
.evento-descripcion {
  padding: 30px 0;
}
.evento-img {
  background-image: url(../img/girlscode.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 130%;
  background-size: cover;
  height: 400px;
}
.evento-img-host {
  background: url(../img/medrano-utn.jpg) no-repeat 50% 50%;
  background-size: 100%;
  width: 100%;
  height: 350px;
  transition: all .5s;
}
.evento-img-host:hover {
  background-size: 105%;
}
.evento-resumen {
  padding-bottom: 20px;
}
.top20 {
  padding-top: 20px;
}
.evento-speakers {
  padding: 30px 0;
  padding-bottom: 30px;
}
.evento-registro {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
}
.linea {
  border-bottom: 1px solid #ddd;
}
.evento-lugar {
  padding: 20px;
  padding-top: 40px;
  border-bottom: 1px solid #ddd;
}
.evento-organizadores {
  padding: 30px 0;
  text-align: center;
}
.evento-org {
  text-align: center;
  padding: 0;
}
.evento-org img {
  margin-right: 20px;
  margin-bottom: 20px;
  height: 70px;
  width: auto;
}
.evento-colab {
  margin-bottom: 20px;
}
.evento-venue img {
  margin: 0;
  height: 170px;
  width: auto;
}
.evento-agenda {
  padding: 50px 0 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
}
.top50 {
  padding-top: 75px;
}
.evento-agenda ul {
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
}
.evento-agenda li {
  padding: 8px 0;
  border-bottom: 1px solid #999;
}
.evento-agenda li:last-child {
  border-bottom: none;
}
.evento-agenda span {
  color: #888;
}
.fa-twitter {
  color: #55acee;
}
.fa-youtube {
  color: #bb0000;
}
.fa-linkedin {
  color: #007bb5;
}
.fa-google-plus {
  color: #dd4b39;
}
/* cards */
.card-deck-wrapper {
  margin-top: 30px;
}
.card-img-top {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  width: 100%;
  height: 150px;
  transition: all .4s;
}
.card-img-top:hover {
  background-size: 105%;
}
.calendar-day {
  border-radius: 2px;
  border: 1px solid #2B85E7;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  margin: 0 10px 0 0;
  padding: 5px;
  width: 50px;
  float: left;
}
.calendar-day span {
  display: block;
}
.calendar-day .dia {
  font-size: 22px;
  font-weight: 700;
  border-bottom: 1px solid #dd4e42;
}
.calendar-day .mes {
  font-size: 14px;
  padding-top: 3px;
}
.text-simple {
  text-align: left;
  padding: 30px 0;
}
.contacto-bg {
  background-color: #f4f4f4;
  padding-bottom: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.gdgiso {
  margin: 0 20px 20px;
  width: 400px;
}
.managers {
  padding: 30px 0;
}
.manager {
  text-align: center;
  margin: 20px 0 10px;
}
.manager .nombre {
  font-weight: 700;
}
.manager .desc {
  color: #666;
  padding: 2px 0 5px;
}
.manager .social a {
  display: inline-block;
  padding: 0 5px;
  border: 1px solid #eee;
  border-radius: 5px;
}
.manager .img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.newsletter {
  text-align: left;
}
#mc-embedded-subscribe-form {
  padding: 0 !important;
}
#mc-embedded-subscribe {
  margin: 0 !important;
}
#mc_embed_signup .mc-field-group {
  width: 50%;
}
.indicates-required {
  float: right;
}
.container-foot {
  border-top: 1px solid #eee;
}
.mastfoot {
  margin-top: 20px;
}
.footlogo {
  padding: 0 0 20px;
  margin-top: -20px;
}
.gdg-social {
  font-size: 20px;
  padding: 10px 0;
}
.gdg-social a {
  display: inline-block;
  padding: 0 5px;
  margin: 0 5px;
}
.be-sponsor {
  font-size: 120%;
  text-align: center;
  padding: 20px 0;
}
@media (max-width: 48em) {
  .separadores {
    padding: 10px;
  }
  .separadores h2 {
    font-size: 30px;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  .sticky {
    position: inherit;
  }
  header {
    overflow: hidden;
    padding-bottom: 10px;
  }
  .logo {
    width: 100%;
    height: 70px;
    background: url(../img/gdgrdlp.png) no-repeat center center;
    background-size: 75%;
    float: left;
  }
  .nav {
    float: none;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .nav a {
    font-size: 13px;
    margin-right: 5px;
  }
  .banner {
    height: 200px;
    background-attachment: scroll;
    background-size: cover;
  }
  .banner .text {
    padding-top: 30px;
  }
  .banner .text h1 {
    font-size: 30px;
  }
  .banner .text p {
    font-size: 16px;
  }
  .evento-img {
    background-attachment: scroll;
    background-size: cover;
    height: 150px;
  }
  .evento-img-host {
    height: 230px;
  }
  .evento-map iframe {
    height: 230px;
  }
  .evento-org img {
    max-width: 250px;
  }
  .evento-colab img {
    max-width: 250px;
    margin-bottom: 15px;
  }
  .gdgiso {
    width: 260px;
  }
  #mc_embed_signup .mc-field-group {
    width: 90%;
  }
}
